[server]
url = "127.0.0.1:8080"
secret-key = "9bg1Ujcuz89wGCQTgBThiuJQzmEr7xIp"

[game]
start-game = "2019-10-16 14:42:00"
end-game = "2019-10-20 14:45:00"
path = "/mnt/e/rust/tasks"
#if you have remote repo
#url = "/path/to/repo"

[log]
terminal = "DEBUG"
file = "DEBUG"
log-file = "/tmp/rptime.log"

[database]
host = "127.0.0.1"
username = "postgres"
password = "qwerty"
database = "ctf"
